.a {
    
        display: flex;
        justify-content: center; /* horizontally center the child elements */
        align-items: center; /* vertically center the child elements */
    background-color: orange;
    
        
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.d {
    display: flex;
    flex-wrap: wrap;
    
   

}
#bio {
    padding: 30px;
    flex: 1;
    
    
 
